<!-- Heading -->
<mdb-card class="mb-4 wow fadeIn">
    <mdb-card-body class="">
      <div class="d-sm-flex justify-content-between">
        <h4 class="mb-sm-0 pt-3">
            <span>Search</span>
        </h4>
        
        <div *ngIf="isLoading$ | async" class="d-flex justify-content-center align-items-center">
          <div class="spinner-grow text-primary" role="status" style="width: 3rem; height: 3rem;">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <form class="d-flex md-form justify-content-center my-0">
            <input type="search" placeholder="Type your query" aria-label="Search" class="form-control" mdbInput #searchQuery>
            <button mdbBtn color="primary" size="sm" class="my-0 p" type="submit" (click)="onSearch(searchQuery.value)">
                <mdb-icon fas icon="search"></mdb-icon>
            </button>
        </form>
      </div>

        <!-- Results  -->
      <div class="flex-sm-fill">
        <table class="table table-hover mt-2 mb-0">
          <thead class="blue lighten-4">
            <tr *ngIf="hasResults$ | async">
                <th>Type</th>
                <th>Text</th>
                <th>ID</th>
                <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let result of (searchResults$ | async)">
              <th scope="row">{{ getSearchResultTypeName(result.type) }}</th>
              <td>{{ result.resultText }}</td>
              <td>{{ result.resultKey }}</td>
              <td>
                <a (click)="onOpenSearchResult(result)"><mdb-icon fas icon="external-link-square-alt"></mdb-icon></a>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </mdb-card-body>
</mdb-card>

<div class="mb-5"></div>
