    <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">
        <div class="footer-copyright p-3 row">
            <div class="col text-left">

            </div>

            <div class="col">
                <mdb-icon fab icon="github"></mdb-icon>
                <a href="https://github.com/garaio/DevCamp-AzureServerless" target="_blank"> GARAIO DevCamp Azure Serverless </a>
            </div>

            <div class="col text-right font-italic">
                This app is build with:
                <a href="https://mdbootstrap.com" target="_blank"> MDBootstrap.com </a>
            </div>
        </div>
    </footer>